* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F2F0;
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h2{
    font-family: 'Yeseva One', cursive;
    font-size:2.25rem;
}

h4{
    font-family: 'Yeseva One', cursive;
    font-size:1.8rem;
}

h5{
    font-size:1.1rem;
}

#heartTotal{
    position: absolute;
    top:6px;
    left:9px;
    font-size:0.6rem;
    font-family: 'Yeseva One', cursive;
}

.heartCountContainer{
    position: relative;
    margin-right:10px;
}

.home{
    font-family: 'Yeseva One', cursive;
    font-size:3rem;
} 

.wishlistContainer{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    opacity: 1;
}

.wishlist, .wishlistModal{
    font-family: 'Yeseva One', cursive;
    font-size:1.5rem;
}

p{
    font-size:1rem;
    text-align: center;
}

/* containers */
.containerIntro,  .productTitleContainer, footer{
    display: flex;
    justify-content: center;
    margin: 0px 76px;
    padding-top: 60px;
}

.footerContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer{
    padding-bottom:60px;
}

.productContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-left:20%;
    margin-right:20%;
    max-width: 1769px;
}

.productContainerScroll{
    display: flex;
    justify-content:flex-end;
    padding-top: 60px;
    margin-left:20%;
    margin-right:20%;
    max-width: 1769px;
}

.paragraphContainer{
    max-width: 600px;
    text-align:center;
}

.containerCarousel{
    display: flex;
    justify-content: center;
    margin: 0px 76px;
    margin-top: 124px;
}

.containerIntro, .productContainer{
    padding-bottom: 60px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}

.navbar li {
    text-decoration: none;
}

.navbar .icon {
    display: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 34px 76px;
}

.heartNavbar{
    padding-right: 4px;
}

/* inputbar */

.inputBar input{
    border-radius:none;
}

/* carousel */
.slideImageFinal {
    position: absolute;
    transition: opacity .8s ease-in;
}

.slideImageFinal + .slideImageFinal { opacity: 0; }

#carouselWrapper{
    position:relative;
    height:600px;
}

.slideImageFinal{
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width:1766px;
    height:auto;
}

.img1{
    background-image:url("img/header1v1.jpg");
    background-position: center;
    width:100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    background-image:url("img/header2v1.jpg");
    background-position: center;
    width:100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    background-image:url("img/header3v1.jpg");
    background-position: center;
    width:100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

#buttonContainer{
    position:absolute;
    top: 92%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.circleControl{
    background-color: #0a0a0a;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:none;
    margin:0px 4px;
}

/* wishlist */
#wishListArray li{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color:#000000;
    padding:10px 10px;
}

.wishListModal {
    display: none;
    position: fixed; 
    z-index: 1000;
    right: 0;
    top: 0;
    width: 30%;
    height: 25%;
    overflow: auto; 
    background-color: #F2F2F0; 
    box-shadow: -8px 8px 5px -4px rgba(169,166,166,0.75);
    -webkit-box-shadow: -8px 8px 5px -4px rgba(169,166,166,0.75);
    -moz-box-shadow: -8px 8px 5px -4px rgba(169,166,166,0.75);
}

.heartCountContainer button{
    left:0;
    border:none;
    padding:none;
    width: 25px;
    height:25px;
}

.modalContent{
    text-align: center;
}

.closeModal{
    padding:20px;
    opacity: 1;
}
.closeModal:hover, .wishlistContainer:hover, .sideNavCatogories:hover{
    opacity: 0.6;
    transition: 0.3s;
}

.fa-heart{
    font-size: 1.4rem;
}
/* products */
.productGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.cards {
    width: 30%;
    padding-bottom: 20px;
    position: relative;
}

.cards i{
    position: absolute;
    right:10px;
    bottom:60px;
}

.sticky{
    display: flex;
    flex-direction: flex-start;
}

.stickySideBar{
    position: fixed;
    z-index: 1;
    top: 0px;
    left:20%;
    background: transparent;
    overflow-x: hidden;
    margin-top:124px;
    background-color: #F2F2F0;
}

.sideNavCatogories{
    padding:10px 0px;
    opacity: 1;
}

/* footer */
.socialMedia i{
    padding:10px;
}

.footerContainer h6{
    padding:10px 0px;
}

hr{
    height:1px;
    border-width:0;
    color:#000000;
    background-color:#000000;
    margin: 0px 76px;
}

@media screen and (max-width: 2230px) {
    .productContainer{
        margin-left:10%;
        margin-right:10%;
    }
    
    .productContainerScroll{
        margin-left:10%;
        margin-right:10%;
    }

    .stickySideBar{
        left:10%;
    }

}
@media screen and (max-width: 1921px) {

.productContainer{
    margin: 0px 76px;
}

.productContainerScroll{
    margin: 0px 76px;
}

.stickySideBar{
    left:76px;
}

}

@media screen and (max-width:1500px){
    .productGrid{
    max-width: 1000px;
    }
}

@media screen and (max-width:1320px){
    .productGrid{
    max-width: 750px;
    }
}

@media screen and (max-width:1024px) {
    .sticky{
        padding-right:100px;
    }
    .productGrid{
        max-width: 600px;
    }
    
}

@media screen and (max-width: 900px) {
    #carouselWrapper{
        position:relative;
        height:300px;
    }

    .img1,.img2,.img3{
        height: 300px;
    }

    #buttonContainer{
        top: 80%;
    }
}

@media screen and (max-width: 856px) {
    .productContainer{
        display: flex;
        flex-direction: column;
    }

    .sticky{
    padding-right:0px;
    }

    .catogoryContainer{
        display:flex;
        justify-content: space-between;
        max-width: 260px;
        padding-bottom:50px;
        margin:auto;
    }

    .sideNavTitle{
        text-align:center;
        padding-bottom: 20px;
    }
    .productGrid{
        margin:auto;
    }

    .stickySideBar{
        width:100%;
        left:0px;
        margin-left:0px;
        text-align:center;
        margin-top:124px;
    }
}

@media screen and (max-width: 600px) {
    .navbar .hide {
        display: none;
    }

    .navbar li {
        padding: 14px 16px;
    }

    .navbar li.icon {
        display: flex;
        justify-content: right;
        opacity: 1;
    }
    .navbar li.icon:hover {
        transition: 0.3s;
        opacity: 0.6;
    }
    ul{
        padding: 0px 0px;
    }

    .navbar.responsive {
        position: fixed;
        top: 0;
        width: 100%;
        overflow: hidden;
        z-index: 1000;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #F2F2F0;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 20px;
    }

    .navbar.responsive li {
        display:flex;
    }

    .navbar.responsive .order{
        order:2;
    }

/* containers */
    .containerIntro, .containerCarousel, .productContainer, .productTitleContainer, hr{
        margin: 0px 30px;
    }

    .productGrid{
        display: block;
    }

    .cards {
        width: 80%;
        margin:auto;
    }

    .containerCarousel.responsive{
        padding-top:200px;
    }

    .stickySideBar{
        margin-top:84px;
    }

}